<a class="btn btn-lg" routerLink=".."> Back</a>
    <div *ngIf="group">
        
        <input [(ngModel)]="group.name" class="form-control" />


    Members 
    
    <ul >    
        <li *ngFor="let m of (group?.members | objectTrue2Array)">
            {{group?.member_names[m.$key]}}
        </li>
        <li>Add Member</li>
    </ul>
    <users-finder></users-finder>
    <div>
        <button (click)="save()" class='btn btn-primary'>Save</button>
        <button *ngIf="!isNew" (click)="delete()" class='btn btn-danger'>DELETE</button>
    </div>
    </div>
