a.notifications{
    cursor: pointer;
    
   
}

a.notifications span {
    padding:5px;
    background-color: #717171;
    color:#e7e7e7;
}

a.notifications span.n-0{
    background-color:#f8f8f8;
    color:#f8f8f8
}

ul.dropdown-menu{
    display:block;
}